<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/layui-v2.5.3/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>Id</th>
            <th>标题</th>
            <th>封面图</th>
            <th>发布者</th>
            <th>分类</th>
            <th>投稿类型</th>
            <th>发布时间</th>
            <th>简介</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${allPost}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.name}"></td>
            <td th:text="${post.img}"></td>
            <td th:text="${post.user.username}"></td>
            <td th:text="${post.partition.tname}"></td>
            <td th:text="${post.field.fname}"></td>
            <td th:text="${post.createTime}"></td>
            <td th:text="${post.introduction}"></td>
           <td>
               <a href="#" th:if="${post.state==1}" th:href="@{/post/delete(id=${post.id})}" onclick="return confirm('确认删除此帖子吗？')">删除</a>
               <a href="" th:if="${post.state==0}" th:href="@{/post/restore(id=${post.id})}" th:text="恢复此帖子" onclick="return confirm('确认恢复此帖子吗？')"></a>
               <a href="" th:if="${post.state==0}" onclick="return confirm('确认删除此帖子吗？')" th:text="彻底删除此帖子"></a>
                <a href="#" th:if="${post.state==1}" th:href="@{/post/edit(id=${post.id})}">修改</a>
           </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="../../../static/js/jquery.js"></script>
<script src="../../../static/layui-v2.5.3/layui/layui.all.js"></script>
<script src="../../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>

</script>
</html>