<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子详情</title>
    <link rel="stylesheet" href="../../../static/layui-v2.5.3/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">


</head>
<body>
<div id="body" style="width: 1200px;margin: 0 auto;border: orange solid 3px;background-color:#F5F7FA">

    <form class="layui-form" th:action="@{/post/save}" th:object="${post}" enctype="multipart/form-data" method="post" style="width: 800px;text-align: center;margin: 0 auto;background-color: white;padding-right: 10px">
        <div style="margin: 10px 0px 10px 0px;text-align: left">
            <button type="button" class="layui-btn">文章投稿</button>
        </div>
        <input type="hidden" name="id" th:field="*{id}">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 110px">
                <i style="color: red;font-size: 18px">* </i><B style="font-size: 15px;color:grey">投稿标题</B>
            </label>
            <div class="layui-input-block">
                <input type="text" th:value="*{name}" name="title" lay-verify="title" autocomplete="off" placeholder="一个好的标题能够提供更高的访问量" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="">
            <label class="layui-form-label" style="width: 110px">
                <i style="color: red;font-size: 18px">* </i><B style="font-size: 15px;color:grey">投稿类型</B>
            </label>
            <div class="layui-input-block" style="">
                <div class="layui-input-block"style="float: left">
                    <input type="radio" name="type" title="原创">
                    <input type="radio" name="type" title="转载">
                    <input type="radio"  name="type" title="其他">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 110px">
                <i style="color: red;font-size: 18px">* </i><B style="font-size: 15px;color:grey">投稿分类</B>
            </label>
            <div class="layui-input-inline">
                <select name="field">
                    <option th:each="pr : ${partitionList}"
                            th:value="${pr.id}"
                            th:text="${pr.tname}"
                            >
                            分区3
                    </option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="partition">
                    <option th:each="pr : ${partitionFields}"
                            th:value="${pr.id}"
                            th:text="${pr.fname}"
                    >
                            领域
                    </option>
                </select>
            </div>
        </div>


        <div  class="layui-form-item" style="padding-left: 0px;">
            <label class="layui-form-label" style="width: 110px">
                    <B style="font-size: 15px;color:grey">投稿封面</B>
            </label>
            <div class="layui-upload" style="padding-left: 10px;float: left;">
                <div class="layui-upload-drag" id="test10" style="width: 300px">
                    <i class="layui-icon"></i>
                    <p>
                        点击上传，或将文件拖拽到此处(ps:支持10MB以下jpg、jpeg、png)。
                    </p>
                </div>
                     <b style="">预览图：</b>
                    <div class="layui-upload-list" style="float: right;padding-left: 20px;margin: 0px">
                        <img class="layui-upload-img" th:if="${post.img!=null}" th:src="${post.img}" style="width: 200px;max-height: 183px" id="demo1">
                        <p id="demoText"></p>
                    </div>
            </div>
        </div>

        <div  class="layui-form-item">
            <label class="layui-form-label" style="width: 110px">
                <B style="font-size: 15px;color:grey">投稿简介</B>
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" th:field="${post.introduction}" name="introduction" class="layui-textarea"></textarea>
            </div>
        </div>

        <div  class="layui-form-item">
            <label class="layui-form-label" style="width: 110px">
                <i style="color: red;font-size: 18px">* </i><B style="font-size: 15px;color:grey">投稿正文</B>
            </label>
            <div class="layui-input-block">
                <div class="layui-form-item layui-form-text">
                  <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor" th:field="${post.content}"></textarea>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            <button type="reset" class="layui-btn layui-btn-danger">取消</button>

        </div>
    </form>
</div>
</body>
<script src="../../../static/js/jquery.js"></script>
<script src="../../../static/layui-v2.5.3/layui/layui.all.js"></script>
<script src="../../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
    ;!function(){
        var layer = layui.layer
            ,form = layui.form
            ,carousel = layui.carousel
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,upload = layui.upload;

        //拖拽上传
       var uploadInst = upload.render({
            elem: '#test10'
            ,url: 'post/upload/'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload()
                });
            }
        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        var editIndex = layedit.build('LAY_demo_editor');

    }();

</script>
</html>