@charset "utf-8";
*{margin:0; padding:0;list-style-type:none;}
a,img{border:0;}
body{background:#fff;line-height:14px;font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;margin:0px;cursor:default;}
html,body{height:100%;text-align:center;}
a{text-decoration:none;}
body{font-family:'SilkscreenNormal', Arial, sans-serif;padding-top:10px;background-color:#fafafa;}
h1, h2{color:#B2DFDA;letter-spacing:0;}
h1{font:60px 'SilkscreenNormal', Arial, sans-serif;}
h2{font:30px 'SilkscreenNormal', Arial, sans-serif;}
h4{font:20px 'SilkscreenNormal', Arial, sans-serif;color:#F44;}
p{color:#F44;font-size:16px;font-family:'SilkscreenExpandedNormal', Arial, sans-serif;line-height:22px;margin-bottom:20px;}
a{font-family:'SilkscreenExpandedBold', Arial, sans-serif;}
a:hover{color:#F44;}
canvas{background-color:#fff;border:1px solid #aaa;padding:5px;}
.main{width:640px;margin:auto;}