<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div>
    <ul class="layui-nav">
        <img src="../static/images/g2.png" width="60px" height="60px"><li class="layui-nav-item">Monster</li>
        <li class="layui-nav-item"><a href="/index">首页</a></li>
        <li class="layui-nav-item layui-this">
            <a href="javascript:;">宝库</a>
            <dl class="layui-nav-child">
                <dd><a href="">CSGO</a></dd>
                <dd><a href="">游戏商城</a></dd>
                <dd><a href="../static/game/fk.html">游戏中心</a></dd>
                <dd><a href="adminIndex">管理员</a></dd>
                <dd><a href="/post/edit">发帖</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">论坛</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">更多</a>
            <dl class="layui-nav-child">
                <dd><a href="">BUG反馈</a></dd>
                <dd><a href="">意见和建议</a></dd>
                <dd class="layui-this"><a href="">加入我们！</a></dd>
                <dd><a href="">商务合作</a></dd>
                <!--           <span  style="color: red" th:if="${loginUser!=null}" th:text="${loginUser.username}"></span>-->
            </dl>
        </li>


        <ul class="layui-nav layui-layout-right" th:if="${session.loginUser==null}">
            <li class="layui-nav-item" style="float: right" >
                <a href="/login">登录</a>
            </li>
            <li class="layui-nav-item"  style="float: right" >
                <a href="/register">注册</a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right" th:if="${session.loginUser!=null}">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${session.loginUser.username}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">我的收藏</a></dd>
                    <dd><a href="">我的关注</a></dd>
                    <dd><a href="">修改密码</a></dd>
                    <dd><a href="#" th:href="@{/myHome(id=${session.loginUser.id})}">个人中心</a> </dd>
                    <dd><a href="">我的投稿</a></dd>
                    <dd><a href="/adminIndex">管理员入口</a></dd>
                </dl>
            <li class="layui-nav-item"><a href="/logout">注销</a></li>
        </ul>

    </ul>
</div>
</body>
</html>