<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子详情</title>
    <link rel="stylesheet" href="../../static/layui-v2.5.3/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

<style>
    .headertital{
        color: #999999;
        margin-left: 10px;
        float: left;
    }
</style>
</head>
<body>
<div class="layui-container" style="background-color: goldenrod">

    <div class="layui-row">

        <div style="width: 800px;">
            <!--头部标题-->
            <div style="height: 1000px;width: 800px;background-color: white">


                <div style="width: 780px;height: 50px;margin-top: 20px;margin-bottom: 20px">
                    <h3 style="float: left;margin-left: 10px">小米说的普通手机尚未找到，小米cc美图定制版、小米9、一加7pro和苹果前置镜头自拍对比。</h3>
                    <a href="#" class="headertital">文章 &nbsp; ></a>
                    <a href="#" class="headertital">综合 &nbsp;></a>
                    <a href="#" class="headertital">杂谈</a>
                    <span class="headertital">阅读量：1024</span>
                    <span class="headertital">评论：35</span>
                    <span class="headertital">|</span>
                    <img class="headertital" src="../../static/images/收%20藏%20.svg" style="width: 20px;height: 20px;">
                    <span class="headertital">360</span>
                </div>

                    <hr style="color: silver;width: 800px; font-size: 3px">

                <div style="width: 780px;height: 60px;margin-top: 20px;margin-left: 10px">

                    <div style="float: left">
                        <img src="../../static/images/ghost.ico" style="height: 60px;width: 60px;float: left">
                        <span class="headertital">正在偷窥你的内裤</span>
                    </div>

                    <div style="float: right">
                        <a href="#" class="headertital">回复</a>
                        <a href="#" class="headertital">举报</a>
                    </div>
                </div>

            </div>

            <!--文章主体-->
            <div style="width: 800px">

                <div style="background-color: #1b6d85;width: 800px;">

                </div>
            </div>
        </div>
        <!--右边相关-->
        <div style="width: 330px;float: left">
            <!--UP主信息-->
           <div style="width: 330px">
                <div>
                    <img src="../../static/images/ghost.ico" style="width: 60px;height: 60px;float: left">
                   <div style="float: left">
                       <!--UP:用户名-->
                       <span>
                        正在偷窥你的内裤
                      </span><br/>
                       <!--UP：个性签名-->
                       <span>
                         游戏行业从业者
                     </span>
                   </div>
                </div>
               <hr  style="color: silver;width: 340px">
           </div>

            <div>
                <h3 style="float: left">最新投稿</h3> <a class="headertital">全部</a>
                <hr  style="color: silver;width: 340px">
            </div>
            <div>
                <h4>小米普通手机未找到，小米CC美图定制版对比</h4>
                <span>浏览数：6520</span>&nbsp;&nbsp;<span>回复数：350</span>
                <hr  style="color: silver;width: 340px">
            </div>

        </div>

    </div>
</div>
</body>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/layui-v2.5.3/layui/layui.all.js"></script>
<script src="../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
    ;!function(){
        var layer = layui.layer
            ,form = layui.form
            ,carousel = layui.carousel
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,upload = layui.upload;

        //拖拽上传
        var uploadInst = upload.render({
            elem: '#test10'
            ,url: 'post/upload/'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload()
                });
            }
        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        var editIndex = layedit.build('LAY_demo_editor');

    }();

</script>
</html>