
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="comm/index_head :: commonHeader('Monster')">
  <style>
    #contText img{
        max-width: 400px;
        max-height: 400px;
    }
  </style>
</head>

<div th:include="comm/index_head :: commonNav"></div>
<div class="layui-container" style="padding: 5px">

    <div class="layui-row" style="padding-top: 5px;">

        <!--右边相关-->
        <div style="width: 340px;float:right;background-color: white;margin-left: 5px;padding-left: 5px;padding-top: 5px;margin-top: 36px;padding-right: 5px;">
            <!--UP主信息-->
            <div style="width: 330px;background-color: #FAFAFA;margin-left: 5px;height: 200px">
                <div style="padding: 10px">
                    <div class="layui-inline" style="float: left">
                        <img src="#" th:src="${post.user.headshot}" class="layui-circle head" style="border: white 2px solid;float: left;width: 80px;height: 80px;">
                    </div>
                  <!--  <img src="#" th:src="${post.user.headshot}" style="width: 60px;height: 60px;float: left;margin-bottom: 5px">-->
                    <div style="float: left;margin-left: 20px;padding-top: 10px">
                        <!--UP:用户名-->
                        <p th:text="${post.user.username}" class="fontColor" style="margin: 0"></p>
                            <!--UP：个性签名-->
                        <p th:text="${post.user.signature}" class="headertital" style="margin: 0;padding-top: 5px"></p>
                    </div>
                    <hr  style="color: silver;width: 100%;"  class="hr">
                </div>

                <div>
                    <!--关注、投稿、粉丝-->
                    <div style="width: 90%;text-align: center;margin:0px auto;">
                        <ul style="padding: 10px;text-align: center">
                            <li style="float: left;padding-left: 47px;padding-right: 20px">
                                <div class="cunt" th:text="${post.user.postSize}"></div>
                                <div class="type">投稿</div>
                            </li>
                            <li style="float: left;padding-left: 30px;padding-right: 20px">
                                <div class="cunt" th:text="${post.user.followSize}"></div>
                                <div class="type" >关注</div>
                            </li>
                            <li style="float: left;padding-left: 30px;padding-right: 20px">
                                <div class="cunt" th:text="${post.user.fanSize}"></div>
                                <div class="type" >粉丝</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--关注、私信-->
                <div style="margin-top: 5px;margin-bottom: 10px;width: 100%;text-align: center">
                    <button type="button" id="gz" class="layui-btn layui-btn-radius bt" style="width: 110px;margin-top: 5px">关注</button>
                   <!-- <button   type="button" name="gz"  class="layui-btn layui-btn-radius layui-btn-normal" style="width: 110px;margin-top: 5px">已关注</button>-->
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-warm bt" id="sx" style="width: 110px;margin-top: 5px">私信</button>
                </div>
            </div>


            <div style="height: 26px;margin-top: 40px;margin-bottom: 10px;margin-left: 5px">
                <h3 style="float: left;margin: 0px;font-size: 19px;line-height: 26px">最新投稿</h3>
                <a class="fontColor" style="float: right;margin-right: 30px;line-height: 26px;font-size: 15px">全部</a>
            </div>
            <hr  style="color: silver;width: 330px" class="hr">

            <!--帖子推荐-->
            <div  style="float: right;margin-top: 20px;margin-bottom: 10px" th:each="posts : ${postList}">
                <div>
                    <a th:href="@{/post/postHome(id=${posts.id})}" style="font-size: 15px" th:text="${posts.name}"></a><br/>
                </div>
                <div style="margin-top: 10px">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span th:text="${posts.views}"></span>
                    <i class="fa fa-commenting-o" style="margin-left: 10px" aria-hidden="true"></i>
                    <span th:text="${posts.cunt}"></span>
                </div>
                <hr  style="color: silver;width: 330px" class="hr">
            </div>
            <!--layui分页-->
            <div id="demo6"></div>

        </div>

        <div style="width: 800px;float: left;background-color: white;">
            <!--头部标题-->
            <div style=";width: 800px;background-color: white;float: left">
                <div style="height: 50px;">
                    <p style="margin-right: 10px;margin-left: 10px;font-size: 25px;" th:text="${post.name}"></p>
                </div>

                <div>
                    <div style="margin-left: 10px;">
                        <a href="#" th:text="${post.partition.tname}" style="margin-left: 0px" class="headertital"></a>
                        <span class="headertital">-</span>
                        <a href="#" th:text="${post.field.fname}" class="headertital">&nbsp;</a>&nbsp;&nbsp;&nbsp;
                        <span class="headertital" th:text="阅读量+${post.views}" ></span>&nbsp;&nbsp;&nbsp;
                        <span class="headertital"th:text="评论：+${count}"></span>&nbsp;&nbsp;&nbsp;
                        <span class="headertital">&nbsp;&nbsp;|&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <img class="headertital" src="../../static/images/土豆.png" style="width: 20px;height: 20px;">&nbsp;
                        <span class="headertital">360</span>&nbsp;
                    </div>
                </div>
                <hr style="color: silver; font-size: 3px;margin-top: 10px;margin-bottom: 10px" >
                <div style="width: 100%;height: 60px;margin-top: 10px;margin-bottom: 10px">
                    <div style="float: left">
                        <div class="layui-inline" style="float: left">
                            <img src="#" th:src="${post.user.headshot}" class="layui-circle head" style="border: white 2px solid;float: left;width: 80px;height: 80px;">
                        </div>
                        <div style="margin-top: 10px;float: left;margin-left: 10px">
                            <span class="fontColor" style="float: left;" th:text="${post.user.username}"></span>
                            <div class="up">楼主</div>
                                <br/>
                            <span class="headertital" style="float: left;margin-top: 10px" th:text="${post.createTime}"></span>
                        </div>
                    </div>

                    <div style="float: right;line-height: 60px;margin-right: 5%">
                        <a href="#" style="color: #4a8eff">回复</a>
                        <a href="#" style="color: #4a8eff">举报</a>
                    </div>
                </div>
            </div>
            <!--文章主体内容-->
            <div style="width:100%;box-sizing: border-box;font-size: 14px;font-family: PingFangSC-Regular;color: #333333;float: left;padding-left: 50px;margin-top: 20px">
                <div style="margin:20px 0;width:100%;display:block;">
                    <div  id="cont" style="font-size: 20px;margin-left: 30px" th:utext="${post.content}"></div>
                </div>
            <!--评论区-->
            <div style="margin-top: 20px;float: left;padding: 0px;width: 100%">
                <div style="padding: 10px" id="comment">
                    <button type="button"  style="background-color:#FF7600;border-radius:50%;width: 30px;height: 30px;border: none;"><i class="layui-icon" style="color: white">&#xe658;</i>
                    </button>
                    <span style="margin-left: 5px">收藏</span>
                </div>
                <!--内容-->
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;width: 730px">
                    <legend>评论区<span class="headertital" style="font-size: 16px;width: 730px" th:text="${count}"></span></legend>
                </fieldset>
            </div>
            <!--文本框-->
            <div style="margin-top: 30px;width: 100%;height:220px;float: left">
                <div style=" width: 100%;height: 150px">
                        <textarea class="layui-textarea" id="LAY_demo2" style="display: none;"></textarea>
                </div>
            </div>
            <input type="hidden" name="uid" id="uid" th:if="${session.loginUser!=null}" th:value="${session.loginUser.Id}">
            <input type="hidden" name="pid" id="pid" th:if="${post!=null}" th:value="${post.id}">
             <input type="hidden" name="byUid" id="byUid" th:if="${post.user.id!=null}" th:value="${post.user.id}">
            <div>
                <div style="float: left;height: 60px;width: 100%;border-bottom-color: #E6E6E6">
                    <button style="float: right;margin-right: 10px;margin-top: 5px;margin-bottom: 5px" class="site-demo-layedit layui-btn layui-btn-danger" data-type="content" id="sm">提交</button>
                </div>
            </div>
            <!--用户评论集合遍历-->
            <div style="width: 740px;float: left;padding: 10px">
                <div style="height: 97px;width: 740px;" th:if="${commentList!=null}" th:each="comm  : ${commentList}">
                    <div style="float: left;width: 100%;margin-top: 50px;border-bottom: 1px #F6F6F6 solid">
                        <!--<div style="float: left;height: 70px">
                            <img src="#" th:src="${comm.user.headshot}"  style="float: left;height: 60px;width: 70px">
                        </div>-->
                        <div class="layui-inline" style="float: left;margin-bottom: 10px">
                            <img src="#" th:src="${comm.user.headshot}" class="layui-circle head" style="border: white 2px solid;float: left;width: 70px;height: 70px;">
                        </div>
                        <div>
                            <div style="width: 100%;">
                                <div style="">
                                    <div style="float: left">
                                        <span style="margin-left: 10px" th:text="${comm.user.username}"></span>
                                    </div>

                                    <div style="width: 80px;float: left">
                                        <div th:if="${comm.user.id}==${post.user.id}" style="margin-left: 17px" class="up">楼主</div>
                                    </div>

                                    <div style="width: 200px;float: left">
                                        <span class="headertital" style="font-size: 13px" th:text="${comm.createTime}"></span>
                                    </div>

                                    <div style="width: 60px;float: right">
                                        <span class="headertital" style="font-size: 10px;float: right"  id="number"  th:text="'#'+${comm.id}"></span><br/>
                                    </div>
                                </div>
                                <div style="margin-top: 10px;float: left">
                                    <div th:utext="${comm.cont}" id="contText" style="margin-left: 10px;width: 530px;">
                                    </div>
                                    <div style="width: 100%;margin-top: 15px;float: left;margin-left: 10px">
                                        <i class="layui-icon" style="margin-left: 10px;">&#xe6c6; <a class="afont" href="#" th:text="'赞:'+${comm.niceComment}"></a></i>
                                        <i class="layui-icon" style="margin-left: 10px;">&#xe611; <a class="afont" href="#">回复</a></i>
                                        <span class="headertital"style="font-size: 13px">来自：<span id="ci" th:text="${comm.ip}"></span></span>
                                    </div>
                                    <!--<div style="width: 740px;height: 500px;background-color: #adadad">

                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${commentList.size()==0}" style="background-color: #FAFAFA;align-content: center;height: 70px;width: 700px;margin: 0px auto">
                       <div style="width: 290px;margin: 0 auto;height: 70px;">
                           <div th:if="${session.loginUser==null}">
                               <button>点我登陆！</button>
                           </div>
                           <h4 style="line-height: 70px">快！暂时还没有人评论赶紧抢沙发！</h4>
                       </div>
                </div>
            </div>
                <div  id="demo3" style="width: 475px;height: 53px;margin-top: 10px;margin-bottom: 10px"></div>
        </div>
    </div>
</div>
</div>
<div style="text-align: center;background-color: #FFFFFF;margin-top: 30px" th:include="comm/index_head :: foot"></div>
<div th:include="comm/index_head :: commonFooter"></div>
<script th></script>
<script>
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
    ;!function(){
        var layer = layui.layer
            ,form = layui.form
            ,carousel = layui.carousel
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,laypage = layui.laypage
            ,upload = layui.upload;



        //只显示上一页、下一页
        laypage.render({
            elem: 'demo6'
            ,count: 50
            ,layout: ['prev', 'next']
            ,jump: function(obj, first){
                if(!first){
                    layer.msg('第 '+ obj.curr +' 页');
                }
            }
        });
        //自定义首页、尾页、上一页、下一页文本
        laypage.render({
            elem: 'demo3'
            ,count: 100
            ,first: '首页'
            ,last: '尾页'
            ,prev: '<em>上一页</em>'
            ,next: '<em>下一页</em>'
        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        layedit.set({
            uploadImage: {
                url: '/upload/add'
                ,type: 'file'
                ,method: 'post'
            }
        });
        //自定义工具栏
        var index=  layedit.build('LAY_demo2', {
            tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right','image']
            ,height: 150,
        });

        /*     //获取富文本框的值
             var uid=$("#uid").val();
             var pid=$("#pid").val();
         $("button#sm").click(function(){
            alert((layedit.getContent(index))+uid+pid)
         });*/

        $(document).ready(function(){
            //获取城市ajax
            $.ajax({
                url: 'http://api.map.baidu.com/location/ip?ak=ia6HfFL660Bvh43exmH9LrI6',
                type: 'POST',
                dataType: 'jsonp',
                success: function (data) {
                    console.log(JSON.stringify(data.content.address_detail.province + "," + data.content.address_detail.city));
                    $('#city').val(JSON.stringify(data.content.address_detail.province + "," + data.content.address_detail.city))
                }
            });
            //获取IP地址
            var ip = "1.2.3.4";
            var options = {
                type: 'GET',
                dataType: "json",
                //async: false, //jquery3中可以直接使用回调函数，不用再指定async
                url: "https://api.ipify.org/?format=json"
            };
            $.ajax(options)
                .done(function(data, textStatus, jqXHR) {
                    if(textStatus == "success") {
                        try {
                            ip = data.ip;
                            $('#ip').html(ip)
                        } catch (e) {
                            ip = "1.2.3.4";
                            if(window.console){
                                console.log(e.message);
                            }
                        }
                    } else {
                        ip = "1.2.3.4";
                    }
                });

        });

        /*layui.*/
        //ajax回复帖子功能
        //ajax评论
        $(document).ready(function(){
            var str = window.location.href;
            var uid=$("#uid").val();
            var pid=$("#pid").val();
            var city=$("input:hidden[name='city']").val();
            var lock = false; //声明lock为false
            layui.use('layer', function() {
                var layer=layui.layer;
            })
            $('#sm').click(function(){
                if(uid==''||uid==0){
                    layer.alert('你还没有登录！', {icon: 5,offset:'50%'});
                    return false;
                }else{
                    var  cont=layedit.getContent((index));
                    if(cont==null||cont==""){
                        layer.msg('评论内容不能为空！', {icon: 2 , offset:'50%'});
                        return false;
                    }else{
                        var city=$("#city").val();
                        $.ajax({
                            type:"get",
                            dataType:"json",
                            data:{"content":cont,"pid":pid,"uid":uid,"ip":city},
                            url:"/comment/add",
                            success:function(date){
                                /* alert(date.code)*/
                                if(date.code==1){
                                    /*$('#context').text('');*/
                                    layer.msg('评论成功',{
                                        offset:'50%'

                                    });
                                    setTimeout(function(){
                                        window.location.reload();//刷新当前页面.
                                    },1000)
                                }else{

                                    layer.msg('评论失败！',{
                                        offset:'50%'
                                    });
                                    return false;
                                }
                            }
                        });
                    }
                }

            });
        });
        //关注
        $(document).ready(function(){
            $('#gz').click(function(){
                var uid=$("#uid").val();
                if(uid==null){
                    layer.alert('你还没有登录！', {icon: 5,offset:'50%'});
                    return false;
                }else{
                    var byUid=$("#byUid").val();
                    var uid=$("#uid").val();
                    if (byUid==uid){
                        layer.alert("自己无法关注自己！",{icon: 5,offset:'50%'});
                        return false;
                    } else {
                        alert("触发了点击关注"+"byUid:"+byUid+",uid"+uid);
                        $.ajax({
                            type:"get",
                            dataType:"json",
                            data:{"beUid":byUid,"uid":uid},
                            url:"/idol/addIdol",
                            success:function(date){
                                console.log(date)
                                /* alert(date.code)*/
                                if(date.status==1){
                                    /*$('#context').text('');*/
                                    layer.msg('关注成功',{
                                        offset:'50%'
                                    });
                                    setTimeout(function(){
                                        window.location.reload();//刷新当前页面.
                                    },1000)
                                }
                                if (date.status==0){
                                    layer.msg('关注失败！',{
                                        offset:'50%'
                                    });
                                    return false;
                                };
                                if (date.status==2){
                                    layer.msg("取消关注成功!")
                                }
                            }
                        });
                    }

                }
            });
        });
    }();




</script>
</body>
</html>