<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<pre>
<embed height="348" width="550" class="player" allowfullscreeninteractive="true" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" allowscriptaccess="always" rel="noreferrer" flashvars="vid=10354804&amp;ref=https://www.acfun.cn/v/ac10311405" src="http://cdn.aixifan.com/player/ACFlashPlayer.out.swf?vid=10354804&amp;ref=https://www.acfun.cn/v/ac10311405" type="application/x-shockwave-flash" allowfullscreen="true" quality="high" wmode="window">

</pre>-->
<!--<iframe style="width:704px;height:436px;" src="https://cdn.aixifan.com/player/ACFlashPlayer.out.swf?vid=10354804&ref=https://www.acfun.cn/v/ac10311405" id="ACFlashPlayer-re" frameborder="0"></iframe>-->

<video playsinline="" x-webkit-airplay="true" webkit-playsinline="true" preload="auto" src="blob:https://www.acfun.cn/9aa07e06-0b47-4bdd-b92e-4f4c5d15244c" style="cursor: none;">       </video>
</body>
</html>