<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/gun.ico" />
    <link rel="stylesheet" href="../../static/layui-v2.5.3/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style>
        #bg{
            background:url("../../static/images/水墨背景1.png") no-repeat ;
        }
        #footDiv{
            position:absolute;
            bottom:0px;
            left:0px;
        }
    </style>
</head>
<body id="bg">
<div th:include="comm/index_head :: commonNav"></div>
    <div class="layui-container" style="">
            <form class="layui-form" action="/login" method="post" style="width: 500px;text-align: center;margin: 0 auto">
                <blockquote class="layui-elem-quote" style="width: 250px;">账号登录</blockquote>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" required lay-verify="required" placeholder="请输入正确的账号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">验证</label>
                    <div class="layui-input-block">
                        <div id="slider"></div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block" style="padding: 20px;margin: 0px">
                        <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button class="layui-btn layui-btn-normal" type="button" id="reset">重置滑块</button>
                        <button type="reset" class="layui-btn layui-btn-danger">重置</button>
                        <a href="/user/togetPassword"><button type="button" class="layui-btn layui-btn-warm">忘记密码？</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="layui-footer" id="footDiv" style="text-align: center;background-color: #FFFFFF; float: right;width: 100%" th:include="comm/index_head :: foot"></div>
<!--<script th:src="@{/static/js/sliderVeify.js}"></script>-->
<script src="../../static/sliderVerify/layui_exts/sliderVerify/sliderVerify.js"></script>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/layui-v2.5.3/layui/layui.js"></script>
<script src="../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
   /* layui.use(['form','jquery','sliderVerify'], function(){
        var form = layui.form;
        var sliderVerify = layui.sliderVerify;
        var slider = sliderVerify.render({
            elem: '#slider'
        });
        //监听提交
        form.on('submit(formDemo)', function(data){
            if(slider.isOk()){//用于表单验证是否已经滑动成功
                layer.msg(JSON.stringify(data.field));
            }else{
                layer.msg("请先通过滑块验证");
            }
            return false;
        });
    });*/
 /* ;!function(){
      var layer = layui.layer
          ,form = layui.form;
      var sliderVerify = layui.sliderVerify;
      var slider = sliderVerify.render({
          elem: '#slider'
      });
      //监听提交
      form.on('submit(formDemo)', function(data){
          if(slider.isOk()){//用于表单验证是否已经滑动成功
              layer.msg(JSON.stringify(data.field));
          }else{
              layer.msg("请先通过滑块验证");
          }
          return false;
      });
  }();*/

   layui.config({
       base: '/static/js/'
   }).use(['sliderVerify', 'jquery', 'form'], function() {
       var sliderVerify = layui.sliderVerify,
           $ = layui.jquery,
           form = layui.form;
       var slider = sliderVerify.render({
           isAutoVerify:true,
           elem: '#slider',
           onOk: function(){//当验证通过回调
               layer.msg("滑块验证通过");
           }
       })
       $('#reset').on('click',function(){
           slider.reset();
       })
       //监听提交
       form.on('submit(formDemo)', function(data) {
           if(slider.isOk()){
               layer.msg("登录成功！");
           }else{
               layer.msg("请先通过滑块验证");
           }

           return true;
       });

   })

</script>
</body>
</html>