<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monster</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/gun.ico" />
    <link rel="stylesheet" href="../../static/layui-v2.5.3/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <style>
        #bg{
            background: url("../../static/images/zhuce.jpg") no-repeat;
        }
    </style>
</head>
<body id="bg">
 <div></div>
<!--注册功能主体-->
  <div id="body" style="width: 1200px;height: 600px;margin: 0 auto;border: orange solid 3px" >

      <form class="layui-form" action="register" method="post" style="width: 500px;height: 500px;text-align: center;margin: 0 auto">
          <div style="margin: 10px 0px 10px 0px;text-align: left">
              <button type="button" class="layui-btn">账号注册</button>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">账号</label>
              <div class="layui-input-inline">
                  <input type="text" name="username" lay-verType="tips" lay-verify="required" lay-reqtext="用户名不能为空哦！" placeholder="请输入账号" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">您用来登录的账号</div>

          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">密码</label>
              <div class="layui-input-inline">
                  <input type="password" name="password"  lay-verType="tips"  lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">密码</label>
              <div class="layui-input-inline">
                  <input type="password" name="password2" lay-verify="pass"  lay-verType="tips"  placeholder="请再次输入密码" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                  <input type="text" name="email" lay-verify="email"   lay-verType="tips" autocomplete="off" class="layui-input" placeholder="请输入邮箱">
              </div>
              <div class="layui-form-mid layui-word-aux">请填写邮箱。例123@qq.com</div>
          </div>



          <div class="layui-form-item">
              <label class="layui-form-label">性别</label>
              <div class="layui-input-block" style="text-align: left">
                  <input type="radio" name="sex" value="男" title="男" checked="">
                  <input type="radio" name="sex" value="女" title="女">
                  <input type="radio" name="sex" value="保密" title="保密" disabled="">
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">生日</label>
              <div class="layui-input-inline">
                  <input type="text" name="birthday" id="date" lay-verify="date"   lay-verType="tips" placeholder="年-月-日" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div style="margin-bottom: 10px">
              <span style="color: red" th:text="${error}">

              </span>
          </div>

          <div class="layui-form-item" style="text-align: left">
              <div class="layui-input-block">
                  <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
          </div>
      </form>
  </div>
<footer>

</footer>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/layui-v2.5.3/layui/layui.all.js"></script>
<script src="../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
        //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
        ;!function(){
            var layer = layui.layer
                ,form = layui.form
                ,carousel = layui.carousel
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
            elem: '#date1'
        });

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

         /*          //监听提交
            form.on('submit(demo1)', function(data){
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return true;
            });*/


    }();

</script>
</body>
</html>