<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="comm/index_head :: commonHeader('修改密码')">
</head>
<body>
<div th:include="comm/index_head :: commonNav"></div>
<div class="layui-container">
    <div class="layui-row" style="text-align: center">

        <div class="layui-form-item">
            <blockquote class="layui-elem-quote">修改密码</blockquote>
        </div>
        <div style="margin: 0 auto;width: 300px">
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" id="username" th:value="${session.loginUser.username}" name="username" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input" disabled>
            </div>
            <div class="layui-form-mid layui-word-aux">当前账号</div>
        </div>
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" id="password" name="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
        </div>
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" id="password2" name="password2" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请重复输入一遍新密码</div>
        </div>
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="tel" th:value="${session.loginUser.phone}" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" placeholder="注册账号时填写的手机号" disabled>
            </div>
            <div class="layui-form-mid layui-word-aux">注册时使用的手机号码</div>
        </div>
            <!--当前用户的ID-->
            <input type="hidden" id="uid" th:value="${session.loginUser.id}">
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-inline">
                <input type="text" id="myCode" name="myCode" lay-verify="required" lay-reqtext="验证码无法为空" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
     </div>
        <div style="width: 900px;margin: 0 auto;height: 135px;text-align: center;padding: 10px">
            <div class="layui-form-item" style="width: 300px;height: 50px;margin: 0 auto">
                <input type="hidden" id="cd" name="code">
                <button id="sm"class="layui-btn layui-btn-normal">获取验证码</button>
            </div>
            <div class="layui-form-item" style="width: 300px;height: 50px;margin: 0px auto">
                <button type="button" id="to" class="layui-btn">提交</button>
                <button type="reset" class="layui-btn layui-btn-danger">取消</button>
            </div>
        </div>
 </div>
</div>
<div style="text-align: center;background-color: #FFFFFF;" th:include="comm/index_head :: foot"></div>
<div th:include="comm/index_head :: commonFooter"></div>
<script>
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
    ;!function(){
        var layer = layui.layer
            ,form = layui.form
            ,carousel = layui.carousel
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        /*          //监听提交
           form.on('submit(demo1)', function(data){
               layer.alert(JSON.stringify(data.field), {
                   title: '最终的提交信息'
               })
               return true;
           });*/
        /*layui.*/
        //ajax获取验证码功能
        $(document).ready(function(){
            $('#sm').click(function(){
                var phone=$("#phone").val();
                var password=$("#password").val();
                var password2=$("#password2").val();
                var username=$("#username").val();
                var code=$("#cd").val();
                var myCode=$("#myCode").val();
                alert("点击触发修改密码:"+phone+",password:"+password+",password2:"+password2+",username:"+username+",code:"+code);
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:{"phone":phone,"password":password,"username":username,"code":code,"myCode":myCode},
                    url:"/sendcodeByUpdatePassWord",
                    success:function(date){
                        if(date.Message="OK"){
                            layer.msg('验证码已成功发到手机号上',{
                                offset:'50%'
                            });
                            $("#cd").val(date.Code)
                        }else{
                            layer.msg(date.Message,{
                                offset:'50%'
                            });
                            return false;
                        }
                    }
                });
            });
        });

        //ajax修改密码
        $(document).ready(function(){
            $('#to').click(function(){
                var phone=$("#phone").val();
                var password=$("#password").val();
                var password2=$("#password2").val();
                var username=$("#username").val();
                var code=$("#cd").val();
                var mycode=$("")
                alert("点击触发获取验证码功能:"+phone+",password:"+password+",password2:"+password2+",username:"+username+",code:"+code);
                $.ajax({
                    type:"get",
                    dataType:"json",
                    data:{"phone":phone},
                    url:"/sendcodeByUpdatePassWord",
                    success:function(date){
                        if(date.Message="OK"){
                            layer.msg('验证码已成功发到手机号上',{
                                offset:'50%'
                            });
                            $("#cd").val(date.Code)
                        }else{
                            layer.msg(date.Message,{
                                offset:'50%'
                            });
                            return false;
                        }
                    }
                });
            });
        });

    }();
</script>
</body>
</html>