<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>发生了点小意外！</title>
	<link rel="icon" type="image/x-icon" href="../../static/images/gun.ico" />
	<link rel="stylesheet" href="../../static/layui-v2.5.3/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<style>
		#bg{
			background:url("../../static/images/水墨背景1.png") no-repeat ;
		}
		#divbody{
			background-color: whitesmoke;
			width: 900px;
			height: 300px;
			text-align: center;
			font-size: 33px;
			color: #0e90d2;
			margin: 0px auto;
		}
	</style>
</head>
<body id="bg">
  <div id="divbody">
	  <h1>您还没有该权限！</h1>
	  <button><a href="/index">返回主页</a></button>
  </div>
</body>
</html>