<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monster</title>
    <link rel="icon" type="image/x-icon" href="../static/images/gun.ico" />
    <link rel="stylesheet" href="../static/layui-v2.5.3/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <style>
        #bigbg{
            background:url("../static/images/涂鸦.jpg") no-repeat ;
            background-size: 100% 100%;
            height: 1000px;
        }
        ul{
            margin-bottom: 1px;
        }

        @font-face {
            font-family: 'webfont';
            font-display: swap;
            src: url('//at.alicdn.com/t/webfont_1mszht3zjt1.eot'); /* IE9*/
            src: url('//at.alicdn.com/t/webfont_1mszht3zjt1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('//at.alicdn.com/t/webfont_1mszht3zjt1.woff2') format('woff2'),
            url('//at.alicdn.com/t/webfont_1mszht3zjt1.woff') format('woff'), /* chrome、firefox */
            url('//at.alicdn.com/t/webfont_1mszht3zjt1.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('//at.alicdn.com/t/webfont_1mszht3zjt1.svg#AlibabaPuHuiTiH') format('svg'); /* iOS 4.1- */
        }

        .web-font{
            font-family:"webfont" !important;
            font-size:16px;font-style:normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
        body{

        }
    </style>
</head>
<body>
<!--<audio controls>
    <source src="../static/music/宗次郎%20-%20いつも何度でも.mp3" type="audio/mpeg" style="width: 100px">
    Your browser does not support this audio format.
</audio>-->
<div>
    <ul class="layui-nav">
        <img src="../static/images/g2.png" width="60px" height="60px"><li class="layui-nav-item">Monster</li>
        <li class="layui-nav-item"><a href="/index">首页</a></li>
        <li class="layui-nav-item layui-this">
            <a href="javascript:;">宝库</a>
            <dl class="layui-nav-child">
                <dd><a href="">CSGO</a></dd>
                <dd><a href="">游戏商城</a></dd>
                <dd><a href="../static/game/fk.html">游戏中心</a></dd>
                <dd><a href="adminIndex">管理员</a></dd>
                <dd><a href="/post/edit">发帖</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">论坛</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">更多</a>
            <dl class="layui-nav-child">
                <dd><a href="">BUG反馈</a></dd>
                <dd><a href="">意见和建议</a></dd>
                <dd class="layui-this"><a href="">加入我们！</a></dd>
                <dd><a href="">商务合作</a></dd>
         <!--           <span  style="color: red" th:if="${loginUser!=null}" th:text="${loginUser.username}"></span>-->
            </dl>
        </li>


        <ul class="layui-nav layui-layout-right" th:if="${session.loginUser==null}">
            <li class="layui-nav-item" style="float: right" >
                <a href="/login">登录</a>
            </li>
            <li class="layui-nav-item"  style="float: right" >
                <a href="/register">注册</a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right" th:if="${session.loginUser!=null}">
               <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="/uploads/+${user.headshot}" class="layui-nav-img">
                         <span th:text="${session.loginUser.username}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">我的收藏</a></dd>
                        <dd><a href="">我的关注</a></dd>
                        <dd><a href="">修改密码</a></dd>
                        <dd><a href="#" th:href="@{/myHome(id=${session.loginUser.id})}">个人中心</a> </dd>
                        <dd><a href="">我的投稿</a></dd>
                        <dd><a href="#" th:if="user.svip==3" th:href="/adminIndex">管理员入口</a></dd>
                    </dl>
                <li class="layui-nav-item"><a href="/logout">注销</a></li>
        </ul>

    </ul>
</div>

<div id="bigbg">
    <div class="layui-container" style="background-color: white;padding: 0 1px;">
        <!--轮播图-->
        <div class="layui-carousel" id="test1" style="padding-top: 1px">
            <div carousel-item style="color: #353C4C">
                <div>
                    <div style="float: right;color: #353C4C">
                        <img src="../static/images/60240fdfb411f38d16dcc99459c6cbdc.jpg" width="100%" height="400px"style="margin-top: 0px" >
                    </div>
                </div>
                <div><img src="../static/images/油画.jpg" style="height: 400px;width: 100%"></div>
                <div><img src="../static/images/花花草草.jpg"style="height: 400px;width: 100%"></div>
                <div><img src="../static/images/xigua.jpg"style="height: 400px;width: 100%"></div>
                <div><img src="../static/images/xiari.jpg"style="height: 400px;width: 100%"></div>
            </div>
        </div>
        <!--登录注册模态框-->


        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin-top: 100px">
            <ul class="layui-tab-title">
                <li class="layui-this">管理员推荐<img src="../static/images/热门.png"></li>
                <li>最新 <img src="../static/images/new%20(2).png"></li>
                <li>热门推荐 <img src="../static/images/推荐.png" width="30px" height="32"></li>
                <li>文章区热门<span class="layui-badge">99+</span></li></li>
                <li>E3游戏展 <img src="../static/images/游戏.png" width="24px" height="20px"></li>
            </ul>
            <div class="layui-tab-content">
                <!--内容1-->
                <i class="web-font" style="color: #FD4C5B">知识就像内-裤，看不见但很重要。</i>
                <hr style="color: #E6E6E6; size: 4px;">
                <div class="layui-tab-item layui-show">

                    <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px;margin-top: 10px">
                        <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                            <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px">132&nbsp;</i></div><br>
                            <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                        </div>
                        <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">美国记者5年采访上百中国剩女：她们太酷了，不该单身歧视</a>
                        <div><i style="font-size: 13px;color:grey">2007年，教育部发布《中国语言生活状况报告》，第一次收录了“剩女”这个词，指那些......</i></div>
                          <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                              <a href="#" style="float: left;margin-left: 5%">作者:zhuzhu</a>
                              <p style="float: left;margin-left: 3%">2019年06月13日 15:43:28</p>
                              <p style="float: right">来自：<a href="#">杂谈</a></p>
                          </div>
                        <hr style="color: #E6E6E6; size: 4px;">
                    </div>


                        <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px;margin-top: 10px">
                            <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                                <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px;">2321&nbsp;</i></div><br>
                                <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                            </div>
                            <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">E3公布《最终幻想7》重制的时候，为什么眼角真的有泪划过</a>
                            <div><i style="font-size: 13px;color:grey">我都快记不清最终幻想7重制版爆出过多少次消息了，这次终于看到实际画面了……</i></div>
                            <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                                <a href="#" style="float: left;margin-left: 5%">作者:E3游戏展实时更新</a>
                                <p style="float: left;margin-left: 3%">2019年06月14日 03:50:28</p>
                                <p style="float: right">来自：<a href="#">游戏</a></p>
                            </div>
                            <hr style="color: #E6E6E6; size: 4px;">
                        </div>

                    <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px;margin-top: 10px">
                        <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                            <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px;">3211&nbsp;</i></div><br>
                            <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                        </div>
                        <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">老师有纹身被家长联名辞退：委屈 但不能全怪家长</a>
                        <div><i style="font-size: 13px;color:grey">转自凤凰网：http://news.ifeng.com/c/7nPvHIGwRrE大家知道最近很火……</i></div>
                        <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                            <a href="#" style="float: left;margin-left: 5%">作者:吃葡萄不吐葡萄皮</a>
                            <p style="float: left;margin-left: 3%">2019年06月14日 03:50:28</p>
                            <p style="float: right">来自：<a href="#">杂谈</a></p>
                        </div>
                        <hr style="color: #E6E6E6; size: 4px;">
                    </div>

                </div>
                <!--内容2-->
                <div class="layui-tab-item">
                        <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px">
                            <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                                <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px">1024&nbsp;</i></div><br>
                                <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                            </div>
                            <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">现在的女生有点过分了吧，如果有女生AC帮我鉴定下这品行。</a>
                            <div><i style="font-size: 13px;color:grey">某网站遭遇感情危机......</i></div>
                            <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                                <a href="#" style="float: left;margin-left: 5%">作者:某网友</a>
                                <p style="float: left;margin-left: 3%">2019年06月14日 03:43:28</p>
                                <p style="float: right">来自：<a href="#">吐槽</a></p>
                            </div>

                        </div>
                        <hr style="color: #E6E6E6; size: 4px;">
                </div>
                <!--内容3-->
                <div class="layui-tab-item">
                <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px">
                    <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                        <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px">834&nbsp;</i></div><br>
                        <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                    </div>
                    <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">90%职场人都在加班，她却能准时下班，成为同事中的异类</a>
                    <div style="text-overflow: ellipsis;white-space : nowrap;overflow: hidden;">
                        <i style="font-size: 13px;color:grey;text-overflow: ellipsis;white-space : nowrap;overflow: hidden;width: 100%">
                            自从互联网大佬发表过“996”的相关言论后，激起了网上一片热议99999999999999999999999999999999999999999
                        </i>
                    </div>
                    <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                        <a href="#" style="float: left;margin-left: 5%">作者:沙雕</a>
                        <p style="float: left;margin-left: 3%">2019年06月14日 03:43:28</p>
                        <p style="float: right">来自：<a href="#">工作</a></p>
                    </div>
                    <hr style="color: #E6E6E6; size: 4px;">
                </div>

            </div>
                <!--内容4-->
                <div class="layui-tab-item" >

                        <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px">
                            <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                                <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px;">3211&nbsp;</i></div><br>
                                <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                            </div>
                            <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">老师有纹身被家长联名辞退：委屈 但不能全怪家长</a>
                            <div><i style="font-size: 13px;color:grey">转自凤凰网：http://news.ifeng.com/c/7nPvHIGwRrE大家知道最近很火……</i></div>
                            <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                                <a href="#" style="float: left;margin-left: 5%">作者:吃葡萄不吐葡萄皮</a>
                                <p style="float: left;margin-left: 3%">2019年06月14日 03:50:28</p>
                                <p style="float: right">来自：<a href="#">杂谈</a></p>
                            </div>
                            <hr style="color: #E6E6E6; size: 4px;">
                        </div>



                    <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px;margin-top: 10px">
                        <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                            <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px">132&nbsp;</i></div><br>
                            <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                        </div>
                        <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">美国记者5年采访上百中国剩女：她们太酷了，不该单身歧视</a>
                        <div><i style="font-size: 13px;color:grey">2007年，教育部发布《中国语言生活状况报告》，第一次收录了“剩女”这个词，指那些......</i></div>
                        <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                            <a href="#" style="float: left;margin-left: 5%">作者:zhuzhu</a>
                            <p style="float: left;margin-left: 3%">2019年06月13日 15:43:28</p>
                            <p style="float: right">来自：<a href="#">杂谈</a></p>
                        </div>
                        <hr style="color: #E6E6E6; size: 4px;">
                    </div>
                </div>
                <!--内容5-->
                <div class="layui-tab-item">

                        <div style="border: #1b6d85 solid 2px;width: 670px;height: 90px">
                            <div style="width: 60px;height: 40px;float: left;padding: 0px 10px 0px 10px;margin-top: 5px">
                                <div style="float: left"><i style="color:#FD4C5B;font-weight: bold;font-size: 15px;">2321&nbsp;</i></div><br>
                                <div style="float: left"><i style="color:grey;font-weight: bold;font-size: 15px">评论&nbsp;</i></div>
                            </div>
                            <a href="#" style="color: #0C0C0C;font-size: 20px;font-family: SansSerif">E3公布《最终幻想7》重制的时候，为什么眼角真的有泪划过</a>
                            <div><i style="font-size: 13px;color:grey">我都快记不清最终幻想7重制版爆出过多少次消息了，这次终于看到实际画面了……</i></div>
                            <div style="color: grey;font-size: 14px;width: 670px;height: 21px;margin-top: 10px;padding: 0px 10px 0px 10px">
                                <a href="#" style="float: left;margin-left: 5%">作者:E3游戏展实时更新</a>
                                <p style="float: left;margin-left: 3%">2019年06月14日 03:50:28</p>
                                <p style="float: right">来自：<a href="#">游戏</a></p>
                            </div>
                            <hr style="color: #E6E6E6; size: 4px;">
                        </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="../static/js/jquery.js"></script>
<script src="../static/layui-v2.5.3/layui/layui.all.js"></script>
<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
    ;!function(){
        var layer = layui.layer
            ,form = layui.form
            ,carousel = layui.carousel
            ,$ = layui.jquery
            ,element=layui.element,
            util = layui.util;

        //执行
        util.fixbar({
            bar1: true
            ,click: function(type){
                console.log(type);
                if(type === 'bar1'){
                    alert('点击了bar1')
                }
            }
        });

        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'hover' //始终显示箭头
            ,anim: 'updown' //切换动画方式
            ,height:"400px"
            ,autoplay:"false"
        }),
        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

        layer.msg('欢迎光临！尊敬的用户！');
    }();


</script>
</body>


</html>